<!-- <h2>Comunicacion entre componentes (Input/Output)</h2>
<app-sugus></app-sugus>
<app-sugus color="orange" sabor="Naranja"></app-sugus>
<app-sugus color="blue" sabor="Piña"></app-sugus>
<app-sugus color="red" sabor="Frambuesa"></app-sugus>

<app-producto logo="https://cutt.ly/7EY1vF6" nombre="Fran Vazquez" descripcion="Me gustan los sugus de frambuesa">
</app-producto>
<app-producto logo="https://cutt.ly/JEY2XTc" nombre="Violetta Garcia"
    descripcion="Me cae fatal la gente que odia el sugus de piña">
</app-producto>
<app-producto logo="https://cutt.ly/GEY25NX" nombre="Antonio Rodriguez" descripcion="Me encanta la playa">
</app-producto> -->

<app-anakin></app-anakin>

<app-mi-boton textoBtn="Alert" [handleClick]="fnAlert"></app-mi-boton>
<app-mi-boton textoBtn="Alert" [handleClick]="fnConsoleLog"></app-mi-boton>