<h2>Pipes</h2>
<p>{{unTexto | uppercase}}</p>
<p>{{unTexto | slice:3:7}}</p>
<p>{{precio | currency}}</p>
<p>{{precio | currency:'EUR'}}</p>
<p>{{fecha | date}}</p>
<p>{{fecha | date:'dd/MM/yyyy'}}</p>

<pre>{{persona | json}}</pre>

<p>{{precio | doble}}</p>
<p>{{precio | doble:5}}</p>
<p>{{precio | doble:5:1}}</p>

<p>{{'hola mundo' | reverse}}</p>
<!-- <p>{{'hola cruel' | hideWords:'cucu':'cruel'}}</p> -->

<p>{{'hola cruel' | hideWords:['cruel']}}</p>

<!-- con el pipe asincrono recibe un objeto asincrono de ts(como le promise por ejemplo) -->
<p>{{mensaje | async}}</p>

<pre>{{personaje | json}}</pre>

<pre>{{personaje2 | async | json}}</pre>