<div>Listar por: 
    <button type="button" name="btnSortVotos" (click)="getSortValue(btnSortVotos)" #btnSortVotos>Votos</button>
    <button type="button" name="btnSortFecha" (click)="getSortValue(btnSortFecha)" #btnSortFecha>Fecha</button>
</div>

<div>
    <ul>
        <li *ngFor="let vendehumo of vendehumos | sort:sortValue">
            <div>{{vendehumo.nombre}}</div>
            <div> | {{vendehumo.categorias}}</div>

            
            <div>Votos: {{vendehumo.votos}}</div>

            <div>Fecha: {{vendehumo.fechaCreacion}}</div>

            <div *ngFor="let usuario of usuarios">
                <p *ngIf="usuario.id === vendehumo.usuarioId">Usuario: {{usuario.nombre}}</p>
            </div>

            <hr>
        </li>
    </ul>
</div>