<div>Listar por: 
    <!-- Ordenar por votos y fecha -->
    <!-- <button type="button" (click)="getSortValue = 'votos'">Ordenar Votos</button> -->
    
    <!-- <button type="button" (click)="getSortValue = 'votos'" [(ngModel)]="ordenarVotos">Votos</button> Un imput con (click)="listar($event)" se podría mejor
    <button type="button" (click)="ordenation()" [(ngModel)]="ordenarFecha">Fecha</button> -->
</div>

<div>
    <ul>
        <li *ngFor="let vendehumo of vendehumos | sort:getSortValue"> <!-- sort:['votos', 'desc'] -->
            <div>{{vendehumo.nombre}}</div><div> | {{vendehumo.categorias}}</div>

            
            <div>Votos: {{vendehumo.votos}}</div>

            <div>Fecha: {{vendehumo.fechaCreacion}}</div>

            <div *ngFor="let usuario of usuarios">
                <p *ngIf="usuario.id === vendehumo.usuarioId">Usuario: {{usuario.nombre}}</p>
            </div>

            
            <!-- <a [routerLink]="['/usuarios', usuario.id]" [routerLinkActive]="['active']">Ver + info</a> -->
            <hr>
        </li>
    </ul>
</div>

